<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
    <title>MyServer - API</title>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
  </head>
  <body>
    {% for api in apis %}
      <h3>{{api[0]}}</h3>
      <table>
        <tbody>
          {% for method in api[1] %}
          <tr>
            <td>{{method.url}}</td>
            <td>{{method.methods | join(', ') }}</td>
            <td><pre>{{method.description}}</pre></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </body>
</html>