<!DOCTYPE html>
<html>

<p style="color: red;">Toutes les urls doivent commencer par "/debug/". Ex: "/debug/aa", "/debug/aa/bb/cc".</p>
<p style="color: green;">Les urls seront accessibles à /api/debug/xxx.</p>

<p>On peut mettre ce qu'on veut dans les paramètres tant que c'est correct en JSON : tableaux, dictionnaires, tableaux de dictionnaires, ...</p>
<ul>
<li>{"/debug/a": ["kjkj", "kjkj"], "/debug/b": ..., }</li>
<li>{"/debug/a": {"a": [1, 3, 4], "b": {"c": "d", "e": "f"}}, "/debug/b": ..., }</li>
</ul>


<form action="/api/debug" method="post">
    <textarea rows="10" cols="50" name="urls">
{
    "/debug/aa": "blibli",
    "/debug/bb": {"a": "jlkjlkj"},
    "/debug/cc": ["toto"]
}</textarea>
	<input type="submit">
</form>

<h1>Valeurs des urls</h1>
<p>{{text}}</p>
</html>
