<!doctype html>
<html ng-app="ngApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/static/js/utils.js"></script> 
    <script src="/static/js/ng_home.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
  </head>
  <body id="ng-controller" ng-controller="ngController" ng-init="loggedin_name='{{logged_in_name}}';">
    <h1>Homepage</h1>
    <p>Our product is excellent. Buy it!</p>

    <h1>Login</h1>
    <p ng-if="logged_in_as !== ''">Logged in as [{[logged_in_as]}].</p>
    <p ng-if="logged_in_as == ''">Not logged in.</p>
    <form>
      <input ng-model="login.email" type='text' placeholder="{{ _('email') }}"/><br/>
      <input ng-model="login.password" type='password' placeholder="{{ _('password') }}"/><br/>
      <input ng-model="login.remember" type="checkbox"> {{ _('Keep me signed in on this computer') }}<br/>
      <button ng-disabled="isLoading" ng-click="tryLogin()">{{ _('Login') }}</button><br/>
    </form>

    <h1>Signup</h1>
    <form>
      <input type='text' placeholder="{{ _('email') }}"/><br/>
      <input type='password' placeholder="{{ _('password') }}"/><br/>
      <input type='text' ng-model="card.number" placeholder="Card number (Visa, Mastecard or American Express)"/><br/>
      {{ _('Expiration date:')}}
      <select ng-model="card_month" ng-options="month as month.name for month in monthList"></select>
      <select ng-model="card.exp_year" ng-options="year for year in yearList"></select><br/>
      <button ng-disabled="isLoading || !signup.user_info.email || !form_info.email.$valid" ng-click="trySignup();">{{ _('signup') }}</button><br/>

      <span class="validation_error" ng-show="signup.user_info.email==''">Email required</span><br/>
      <span class="validation_error" ng-show="!form_info.email.$valid">Invalid email</span><br/>
      <span class="validation_error" ng-bind="stripe_error"></span>
    </form>
  </body>
  <script>
    Stripe.setPublishableKey("{{stripe_publishable_key}}");
    $('[data-toggle="popover"]').popover({html: true});
    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
          }
        });
    });
  </script> 

  <h1>Logout</h1>
  <button ng-disabled="isLoading" ng-click="logout()">{{ _('Log out') }}</button>
</html>