<!doctype html>
<html ng-app="ngApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/static/js/utils.js"></script> 
    <script src="/static/js/ng_home.js"></script>
  </head>
  <body ng-controller="ngHomeController" ng-init="init('{{logged_in_name}}')">
    <h1>local links</h1>
    <ul>
      <li><a href="/api">api</a> : list of all apis in this project</li>
      <li><a href="/debug">debug</a> : can be useful</li>
      <li><a href="/products">products</a> : a test page to show angular js and saving in mongo</li>
      <li><a href="/raz">raz</a> : to RAZ the db with data in /fake_data</li>
    </ul>

    <h1>Login</h1>

    <p ng-if="logged_in_as !== ''">Logged in as [{[logged_in_as]}].</p>
    <p ng-if="logged_in_as == ''">Not logged in.</p>
    <p>A valid email/password is f@f.fr, password=f. See /fake_data directory</p>
    <form>
      <input ng-model="login.email" type='text' placeholder="{{ _('email') }}"/><br/>
      <input ng-model="login.password" type='password' placeholder="{{ _('password') }}"/><br/>
      <input ng-model="login.remember" type="checkbox"> {{ _('Keep me signed in on this computer') }}<br/>
      <button ng-disabled="isLoading" ng-click="tryLogin()">{{ _('Login') }}</button><br/>
    </form>

    <h1>Logout</h1>
    <button ng-disabled="isLoading" ng-click="logout()">{{ _('Log out') }}</button>

    <h1>Signup</h1>
    <form>
      <input ng-model="signup.user_info.email" type='text' placeholder="{{ _('email') }}"/><br/>
      <input ng-model="signup.user_info.password" type='password' placeholder="{{ _('password') }}"/><br/>
      <button ng-disabled="isLoading || !signup.user_info.email" ng-click="trySignup();">{{ _('signup') }}</button><br/>
      <span class="validation_error" ng-show="signup.user_info.email==''">Email required</span><br/>
    </form>
  </body>
</html>