<!doctype html>
<html ng-app="ngApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
    <title>Homepage</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script src="/static/js/google_analytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/static/js/utils.js"></script> 
    <script src="/static/js/ng_home.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
  </head>
  <body id="ng-controller" ng-controller="ngController">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-xs-1">
            <img src="/static/images/logo.png" style="width: 100%;"/>
          </div>
          <div class="col-xs-5">
            <h1 style="color: #337ab7;">Homepage</h1>
          </div>
          <div class="col-xs-3">
          </div>
          <div class="col-xs-1">
            <!--<a href="" ng-click="showLogin();">Log in</a>-->
          </div>
          <div class="col-xs-2">
            <a href="" ng-click="showSignup();" style="float: right;">Sign up</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="margin-top: 80px">
            <h2>Blabla</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9" style="font-size: 18px;">
            <p>Our product is excellent. Buy it!</p>
          </div>
        </div>
        <div class="row" style="margin-top: 400px;">
          <div class="col-xs-6">
            Questions? Contact us: info@yoursite.com
          </div>
          <div class="col-xs-1">
          </div>
        </div>
      </div>
      <div ng-show="isSignup || isLogin" class="container my-overlay my-blk-overlay"></div>
      <div ng-show="isSignup" class="container my-overlay">
        <div class="row-fluid" onclick="">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8">
            <div class="panel panel-default">
              <div class="panel-header" style="padding-top: 30px;">
                <img src="/static/images/cross.png" ng-click="closeSignup();" class="close-cross"/>
                <h1 style="text-align:center;margin-bottom:20px;">{{ _('Sign up for this product') }}</h1>
              </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row" style="padding:5px;">
                      <div class="col-xs-1">
                      </div>
                      <div class="col-xs-11" ng-form name="form_info">
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-12"><span class="my-signup-step">1</span><h3 class="form-control-static control-label">{{ _('Your account information') }}</h3></div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-6">
                            <input type='email' name="email" class='form-control' ng-model="signup.user_info.email" placeholder="Email address (required)" style="z-index:0;" ng-required/>
                              <span class="validation_error" ng-show="form_info.email.$error.email">
                                    Invalid email</span>
                          </div>
                          <div class="col-xs-6">
                             <input type='password' class='form-control' ng-model="signup.user_info.password" placeholder="Password" style="z-index:0;"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row" style="padding:5px">
                      <div class="col-xs-1">
                      </div>
                      <div class="col-xs-11">
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-12"><span class="my-signup-step">3</span><h3 class="form-control-static control-label">{{ _('Your payment information') }}</h3></div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-8">
                            <input type='text' class='form-control' ng-model="card.number" placeholder="Card number (Visa, Mastecard or American Express)" style="z-index:0;"/>
                           
                          </div>
                          <div class="col-xs-3">
                            <input type='text' class='form-control' ng-model="card.cvc" placeholder="CVV" style="z-index:0;"/>
                          </div>
                          <div class="col-xs-1">
                            <button type="button" class="custom-tooltip" data-container="body" data-toggle="popover" data-placement="top" data-content="<img src='/static/images/cvv.jpg'/>" data-original-title="" title="">?</button>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-12">
                              {{ _('Expiration date:')}}
                              <select class='form-control normal-width' ng-model="card_month" ng-options="month as month.name for month in monthList"></select>
                              <select class='form-control normal-width' ng-model="card.exp_year" ng-options="year for year in yearList"></select>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                          <div class="col-xs-12">
                            <button ng-disabled="isLoading || !signup.user_info.email || !form_info.email.$valid" ng-click="trySignup();" class="btn btn-green" style="width:100%;height:4em">{{ _('Start') }}</button>
                            <span class="validation_error" ng-show="signup.user_info.email==''">Email required</span><br/>
                            <span class="validation_error" ng-show="!form_info.email.$valid">Invalid email</span><br/>
                            <span class="validation_error" ng-bind="stripe_error"></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <p class="form-control-static">{{ _('Your data is crypted on our servers and we will NEVER share it with third parties.') }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="isLogin" class="container my-overlay">
        <div class="row">
          <div class="col-xs-6 col-xs-push-3">
            <div class="panel panel-default" style="z-index:100;margin-top:140px">
              <div class="panel-heading no-border">
                <img src="/static/images/cross.png" ng-click="closeLogin();" class="close-cross"/>
                <h3 class="form-control-static">{{ _('Log in') }}</h3>
              </div>
                <div class="panel-body">
                  <div class="row" style="margin-bottom:7px">
                    <div class="col-xs-12">
                        <input type='text' class='form-control pad-tb20-lr-15' placeholder="{{ _('Your email address') }}" style="z-index:0;"/>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px">
                    <div class="col-xs-12">
                        <input type='password' class='form-control pad-tb20-lr-15' placeholder="{{ _('Your password') }}" style="z-index:0;"/>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px">
                    <div class="col-xs-6">
                      <div class="form-control-static" style="padding-left:0px;backgound:none"><input type="checkbox"> {{ _('Keep me signed in on this computer') }}</div>
                    </div>
                    <div class="col-xs-6">
                      <button ng-disabled="isLoading" class="btn btn-link" style="float:right;padding-right:0px" onClick="forgotPassword()">{{ _('I forgot my password') }}</button>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px">
                    <div class="col-xs-12">
                      <button ng-disabled="isLoading" class="btn btn-green" style="width:100%;height:4em" ng-click="tryLogin()">{{ _('Login') }}</button>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom:7px">
                    <div class="col-xs-12">
                      <p class="form-control-static" disabled style="width:100%;text-align:center;"><span id="hr-separator"></span><span id="hr-or-separator">{{ _('or :') }}</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                    <p>{{ _('Not yet registered?') }}</p>
                      <button class="btn btn-success" style="width:100%;height:4em" ng-click="showSignup();">{{ _('Sign up') }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
  <script>
    Stripe.setPublishableKey("{{stripe_publishable_key}}");
    $('[data-toggle="popover"]').popover({html: true});
    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
          }
        });
    });
    </script>
  </script> 
</html>